.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin: 5px;
    background-color: whitesmoke;
}

.btn-info, .btn-success{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5bc0de;
    color: white;
    cursor: pointer;
    margin: 5px;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-info:hover{
    background-color: red;
}

.nav{
  width: 100%;   
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0px;
  text-align: center;
  background-color: rgb(228, 221, 221);
}