/* Buttons styling */
.btn {
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    margin: 5px;
}

/* Success button */
.btn-success {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
    margin: 5px;
}

.header {
    display: flex;
}


/* Ensures the p-table header stays visible and opaque */
:host ::ng-deep .p-datatable-scrollable thead th {
    height: 50px;
    position: sticky;
    top: 0;
    background-color: rgb(228, 221, 221);
    z-index: 1;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}